body
{
    min-width: 1200px;
}

h1
{
    margin: 14px 27px 0 10px !important;
    padding: .3em 0 0 56px;
    line-height: 36px;
}

h2
{
    font-size: 225%;
    font-weight: normal;
}

#left ul
{
    padding-top: 1em;
    clear: both;
}

#left ul li.space
{
    margin-top: 1.5em;
}

#left ul li a,
div.buttons_chart input[type=button]
{
    /* (c) Google */
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(center top , #f5f5f5, #f1f1f1);
    color: #444;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 80%;
    font-weight: bold;
    line-height: 27px;
    outline: 0 none;
    padding: 0 8px;

}

#left ul li a,
div.buttons_chart input[type=button]
 {
    display: block;

    width: 80%;
    margin: 0 auto .5em;
}

.category
{
    display: block;

    width: 100%;
    margin: 0 auto .5em;
}

.button_share {
    width: 65px;
    display: inline-block;
}

.share_buttons {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.share_buttons span {
    margin-right: 5px;
}



div.buttons_chart input[type=button]{
    width: 100px;
    display: inline;
}

.category {
    float:left;
}

.category_wrapper .button_share {
    display: none;
}

div.buttons_chart input[type=button]:hover,
#left ul li a:hover
{
    /* (c) Google */
    background-image: -webkit-linear-gradient(center top , #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    border-color: #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#left ul li a.active
{
    background: #fff -webkit-linear-gradient(center top, #fff, #f1f1f1);
    border-color: #c0c0c0;
}

div.buttons_chart input[type=button].active
{
    background: rgba(200,200,200,0.8);
    linear-gradient(center top, #fff, red);
    border-color: #c0c0c0;
}

div.chart_buttons input[type=button]
{
    width: 120px;
}

#right
{
    margin-left: 0;
    float: left;
}

#right form
{
    margin-top: 1em;
    display: none;
}

#right label
{
    width: 100px;
    float: left;
    clear: both;
    line-height: 25px;
}

#right input[type="date"]
{
    float: left;
}

#right .category,
#right .options,
#right .about,
#right .categories,
#right .alerts_tab
{
    clear: left;
    display: none;
    padding-top: 1em;
}

#right .categories
{
    padding-top: 0;
}

.chart
{
    height: 300px;
    width: 800px;
}

.chart table td
{
    border: 0;
}

.chart_date,
.chart_site,
.chart_category
{
    margin-top: 1em;
}

.chart_site,
.chart_time
{
    margin: 2em 0 0 1em;
}

#dashboard_category .chart
{
    width: 400px;
    height: 200px;
    margin-left: 0;
}

#dashboard_category .category_wrapper,
#dashboard_category .info
{
    border: 1px solid #e0e0e0;
    padding: 1em;
    border-radius: 5px;
    min-width: 400px;
}

#dashboard_category .category_wrapper
{
    float: left;
    margin: 0 1em 1em 0;
    min-height: 270px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
}

#dashboard_category .category_wrapper:nth-child(2n)
{
    clear: left;
}

#dashboard_category .category_wrapper h3
{
    margin: 0 0 .7em;
    cursor: pointer;
}

#dashboard_category .category_most_visited table,
#dashboard_category .category_busiest table
{
    width: 100%;
}

#dashboard_category .category_visited .legend{
    width:190px !important;
}

.scrollable
{
    height: 235px;
    overflow-x: hidden;
    overflow-y: auto;
}

#dashboard_category .category_wrapper .hide
{
    position: absolute;
    top: .5em;
    right: .5em;
    display: block;
    width: 16px;
    height: 16px;
    background: url('../images/close.png') no-repeat;
    opacity: 0.5;
}

#dashboard_category .category_wrapper .hide:hover
{
    opacity: 1;
}

#dashboard_category .info
{
    clear: both;
    margin: 1em 0 3em;
    background-color: #fff;
    max-width: 844px;
}

#dashboard_category .info p
{
    margin-bottom: 1em;
}

.category p.totalTime,
.category p.warning
{
    margin-bottom: 1em;
    background: url('../images/clock.png') no-repeat 0 50%;
    padding-left: 18px;
}

.category p.warning
{
    background-image: url('../images/arrow.png');
}

#categorySelectId + p.totalTime,
#categorySelectId + p.warning
{
    margin-top: 1em;
}

#dashboard_category p.totalTime,
#dashboard_category p.warning
{
    background-position: 1em 50%;
    padding-left: 2.3em;
    margin: 0 0 1em;
    max-width: 826px;
}

#dashboard_category p.warning
{
    border: 0;
    min-width: 0;
    max-width: 350px;
}

.loading
{
    background: url('../images/loading.gif') no-repeat 50% 50%;
}

td,
th
{
    padding: .5em;
    border: 1px solid #eee;
}

td.right
{
    text-align: right;
}

table a
{
    color: #444;
    text-decoration: none;
}

table a:hover
{
    text-decoration: underline;
}

#right .enable
{
    margin: 1em 0;
    display: none;
}

#right .enable label,
#right label.after
{
    float: none;
    clear: none;
    width: auto;
}

.about
{
    background: url('../images/mr_wips_about.png') no-repeat 100% 0;
    min-height: 311px;
    padding-right: 150px;
    float: left;
}

.about h3
{
    margin-bottom: 1em;
}

.about p,
.about ul
{
    margin-bottom: 1em;
    line-height: 150%;
}

.about p.winner
{
    text-align: center;
    font-size: 130%;
    font-style: italic;
}

.about ul
{
    margin-bottom: 1.5em;
}

.about ul li
{
    list-style: inside;
    padding-left: .5em;
}

.about a
{
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
}

.about a:hover
{
    border-color: #666;
}

.about .wips
{
    font-weight: bold;
}

#ui-datepicker-div
{
    font-size: 90%;
}

#sitesAllCategorized
{
    background: url('../images/filled.png') no-repeat 100px 50%;
    padding-left: 118px;
    line-height: 175%;
}

#tooltip
{
    position: absolute;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: .4em .5em;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}

#tooltip span
{
    display: block;
    font-weight: bold;
    margin-top: .3em;
}

.pieLabel
{
    cursor: default;
    font-size: 110%;
}

#dashboard_category .pieLabel
{
    font-size: 100%;
}

.chart p.no_data
{
    background: url('../images/mr_wips_sad.png') no-repeat 100% 40%;
    height: 110px;
    padding: 90px 90px 0 0;
    text-align: center;
}

#dashboard_category .chart .legend .scrollable
{
    padding-right: 1.3em;
}

#dashboard_category .chart .legend td
{
    font-size: 120%;
    padding: 3px;
}

.ui-widget-overlay
{
    background: grey;
}

.ui-dialog-title
{
    color: #53637d;
}

.ui-widget-header
{
    background: #f5f5f5 none;
}

.alerts .controls
{
    float: right;
    width: 25%;
}

.alerts .controls .button
{
    margin-bottom: 4px;
    padding: 2px;
    font-weight: bold;
    text-align: center;
    background-color: #f5f5f5;
    color: #444;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    font-size: 80%;
}

.alerts .controls .button:hover
{
    background: #f8f8f8 -webkit-linear-gradient(center top, #f8f8f8, #f1f1f1);
    border-color: #c6c6c6;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.alerts .table
{
    display: table;
    font-size: 90%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    float: left;
    width: 70%;
    padding: 3px;
}

.alerts .table .row {display:table-row;cursor: pointer; }
.alerts .table .cell{display:table-cell;}

.alerts .table .first {
    font-weight: bold;
    font-size: 100%;
}

.alerts .table .selected
{
    background-color: #f5f5f5;
}

#dialog-form-add .table {display:table;}
#dialog-form-add .table .row {
    display:table-row;
}
#dialog-form-add .table .cell {
    display:table-cell;
    margin-left: 6px;
    margin-right: 6px;
    margin-bottom: 4px;
}

.ui-button{
    background: #f5f5f5 none;
}

.none {
    display: none;
}

.strong {
    font-weight: bold;
}

#dashboard_category>div.table
{
    border: 1px solid #e0e0e0;
    padding: 1em;
    border-radius: 5px;
    width: 95%;
    min-width: 400px;
    margin: 0em 1em 1em 0;
    float: left;
}

#dashboard_category>div.table table{
    margin: 0 auto;
}

.paragraph
{
    margin-bottom: 10px;
}

.category .button_share{
    margin-top:15px;
    clear: both;
    cursor: pointer;
    height: 26px;
    background: url('../images/button_left.png') no-repeat 0 0, url('../images/button_right.png') no-repeat 100% 0, url('../images/share_ico.png') no-repeat 10px 50%, url('../images/button_bg.png') repeat-x 0 0;
    line-height: 26px;
    padding: 0 10px 0 23px;
    color: #52c9f2;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    font-size: 90%;
    text-shadow: rgba(255,255,255,0.5) 0px 1px 1px;
    text-align: center;
}

.category .chart_all, .category .chart_date{
    margin-bottom:20px !important;
}

.category .button_share:hover{
    background-position: 0 100%, 100% 100%, 10px 50%, 0 100%;
    color: #fff;
    text-shadow: rgba(155,155,155,0.5) 0px 1px 1px;
}

/* badges */

#badges_obal{
  padding:16px 0;
}

#badges_obal *{
  margin:0;
  padding:0;
}

#badges_obal .clear{
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0;
}

#badges_list{
  display: none;
}

#badges_list .item{
  width:200px;
  height:210px;
  float:left;
  margin:0 10px 10px 0;
  padding:15px 10px 10px 10px;
  text-align: center;
}

#badges_list .item.active:hover{
  background-color:#f5f5f5;
  border-radius:10px;
  cursor: pointer;
}

#badges_list .item .image{
  position: relative;
  width:150px;
  margin:0 auto 10px auto;
}

#badges_list .item .image img{
  max-width:150px;
  height:150px;
}

#badges_list .item .image .level{
  position: absolute;
  right:10px;
  bottom:10px;
  width:30px;
  height:30px;
  line-height:30px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size:20px;
  color:#000;
}

#badges_list #base_facebook.item .image .level,
#badges_list #inarow_facebook.item .image .level{
  right:11px;
  bottom:10px;
}
#badges_list #base_twitter.item .image .level,
#badges_list #inarow_twitter.item .image .level{
  right:27px;
  bottom:10px;
}

#badges_list .item .content .title{
  display: block;
  margin:0 0 7px 0;
  line-height: 16px;
  height: 16px;
  font-weight: bold;
  font-size:14px;
  color:#000;
  overflow: hidden;
}

#badges_list .item .content .time{
  display: block;
  font-weight:normal;
  font-size:12px;
  color:#666;
}

#badges_detail{
  display: none;
  position: relative;
}

#badges_detail .left{
  position: absolute;
  left:0;
  top:0;
}

#badges_detail .left img{
  max-width:300px;
}

#badges_detail .left .level{
  position: absolute;
  right:30px;
  bottom:30px;
  width:50px;
  height:40px;
  line-height:40px;
  display: block;
  text-align: center;
  font-weight: bold;
  font-size:40px;
  color:#000;
}

#badges_detail #base_facebook.left .level,
#badges_detail #inarow_facebook.left .level{
  right:27px;
  bottom:29px;
}
#badges_detail #base_twitter.left .level,
#badges_detail #inarow_twitter.left .level{
  right:58px;
  bottom:29px;
}

#badges_detail .right{
  padding:5px 0 0 320px;
  min-height:300px;
}

#badges_detail .right .title{
  display: block;
  padding:0 0 10px 0;
  font-weight: bold;
  font-size:20px;
  color:#000;
}

#badges_detail .right .time{
  display: block;
  padding:0 0 10px 0;
  font-weight:bold;
  font-size:12px;
  color:#666;
}

#badges_detail .right .desc{
  display: block;
  font-weight:normal;
  font-size:14px;
  color:#444;
}

#badges_detail .back{
  display: inline-block;
  margin:15px 0;
  font-weight: bold;
  cursor: pointer;
}

#badges_detail .back:hover{
  text-decoration: underline;
}