#bg{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 30px;
	background-image: url(/images/bgs/sea.png);
	background-position: bottom;
	background-size: 100%;
	opacity: .8;
	cursor: pointer;
}

#bg:hover{
	opacity: 1;
}

#bg .more{ position: relative;}

#bg h1{ font-size: 13px; padding: 10px; padding-left: 15px; position: relative;}
#bg h2{ font-size: 20px; padding-bottom: 20px; padding-top: 0px;}

.button{
	display: inline-block;
	border-radius: 8px;
	border: 1px solid white;
	background-color: rgba(255,255,255, .3);
	font-size: 18px;
	padding: 10px;
	margin-right: 20px;
	margin-top: 15px;
}

.button:hover{
	background-color: rgba(255,255,255, .5);
}

iframe#page{
	border-width: 0;
	z-index: 999;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 100%;
	box-shadow: 0 -2px 10px rgba(0,0,0,.3);
	border-top: 1px solid rgba(255,255,255,.8);
	background-color: white;
}