#bg{
 position: absolute;
 top: 0; left: 0;
 width: 100%; height: 100%;
 font-family: 'Montserrat', sans-serif;
 color: white;
 font-size: 30px;
 /*background-image: url(/images/bgs/sea.png);*/
 background: #66cc66;
 background-size: 100%;
 opacity: .8;
 cursor: pointer;
 overflow: hidden;
}

p{ font-size: 15px;}

#bg:hover{
 opacity: .8;
}

body#popup {
	margin:0;
	font-family: 'Montserrat', sans-serif;
}

#followup {
	margin: 10px;
}

#followup button {
	font-size:20px;
}

#wish {
	display: block;
	padding: 10px;
	min-width: 600px;
	margin-bottom: 20px;
}

#site_name {
	color: rgb(22, 22, 22);
	text-shadow: rgba(255, 255, 255, 0.29) 0px 1px 1px;	
	text-align: center;	
	padding: 10px 0px;
}

#you_summary {
	padding: 10px;
	color: rgb(22, 22, 22);
	text-shadow: rgba(255, 255, 255, 0.29) 0px 1px 1px;	
}

#community_summary{
	background: #66cc66;
	padding: 10px;
	color: rgb(22, 22, 22);
	text-shadow: rgba(255, 255, 255, 0.29) 0px 1px 1px;
}


#bg .more{ position: relative;}

#bg h1{ font-size: 13px; padding: 10px; padding-left: 15px; position: relative;}
#bg h2{ font-size: 20px; padding-bottom: 20px; padding-top: 0px;}

form { display: inline-block; }

input.button:not(:focus){
	/*display: inline-block;*/
	border-radius: 8px;
	border: 1px solid white;
	/*background-color: rgba(255,255,255, .3);*/
	font-size: 18px;
	padding: 10px;
	/*max-width: 200px;*/
	/*margin-right: 20px;*/
	/*margin-top: 15px;*/
}

.button:hover{
 /*background-color: rgba(255,255,255, .5);*/
}

#others_rated { font-size: 13px; margin-top: 20px; max-width: 400px }

iframe#page{
 border-width: 0;
 z-index: 999;
 position: absolute;
 top: 0px;
 width: 100%;
 height: 100%;
 box-shadow: 0 -2px 10px rgba(0,0,0,.3);
 border-top: 1px solid rgba(255,255,255,.8);
 background-color: white;
}


.typeahead,
.tt-query,
.tt-hint {
  width: 326px;
  height: 30px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

.close {
  display: inline-block;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  color: white;
  float: right;
  height: 35px;
  width: 35px;
  text-align: center;
  text-indent: -9999px;
  position: absolute;
  text-decoration: none;
  top: 0px;
  right: 0px;
  border-left: 1px solid rgba(255,255,255,.4);
  border-bottom: 1px solid rgba(255,255,255,.4);
}
.close::after {
  content: "\2716";
  text-indent: 0;
  display: block;
  position: absolute;
  top: 9px;
  right: 12px;
  font-size: 12px;
}
.close:hover {
  background-color: rgba(255,255,255,.4);
  cursor: pointer;
}
.close:active {
  cursor: pointer;
 }

 .clock{ padding-top: 10px; }